<div id="main_container">
    <div id="initial">
        <div id="header_logo">
            <span class="spn_nameLogo">Os<span class="spn_white">4</span>kweHUB</span>
        </div>
        <header class="header">
            <nav class="nav-bar">
                <ul class="nav-list" id="nav-list">
                    <li class="nav-item active"><a routerLink="/ativos">ATIVOS</a></li>
                    <li class="nav-item"><a routerLink="/favoritos">FAVORITOS</a></li>
                    <li class="social-icons">
                        <a href="https://github.com/LucasOs4kwe" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/lucasosakwe/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="mailto:lucas.osakwe@valemobi.com.br" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</div>

<!-- Saída do componente  -->
<router-outlet></router-outlet>

<footer class="footer">
    <div id="footer-authorName">
        <span>Lucas Osakwe 2022</span>
    </div>
</footer>
